
name: Build

on:
  push:
    branches: [ master ]
  pull_request: { }

# Ensures that only one task will run at a time.
concurrency:
  group: docker-images

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
       include:
         - path: php/8.4/bookworm/cli-composer
           tags:
             - riptidepy/php:8.4-cli
             - riptidepy/php:8-cli
             - riptidepy/php:cli
             - riptidepy/php:8.4
             - riptidepy/php:8
             - riptidepy/php:latest
         - path: php/8.4/bookworm/cli-composer2
           tags:
             - riptidepy/php:8.4-cli-composer2
             - riptidepy/php:8-cli-composer2
             - riptidepy/php:cli-composer2
         - path: php/8.4/bookworm/apache
           tags:
             - riptidepy/php:8.4-apache
             - riptidepy/php:8-apache
             - riptidepy/php:apache
         - path: php/8.4/bookworm/fpm
           tags:
             - riptidepy/php:8.4-fpm
             - riptidepy/php:8-fpm
             - riptidepy/php:fpm
         - path: php/8.3/bookworm/cli-composer
           tags:
             - riptidepy/php:8.3-cli
             - riptidepy/php:8.3
         - path: php/8.3/bookworm/cli-composer2
           tags:
             - riptidepy/php:8.3-cli-composer2
         - path: php/8.3/bookworm/apache
           tags:
             - riptidepy/php:8.3-apache
         - path: php/8.3/bookworm/fpm
           tags:
             - riptidepy/php:8.3-fpm
         - path: php/8.2/buster/cli-composer
           tags:
             - riptidepy/php:8.2-cli
             - riptidepy/php:8.2
         - path: php/8.2/buster/cli-composer2
           tags:
             - riptidepy/php:8.2-cli-composer2
         - path: php/8.2/buster/apache
           tags:
             - riptidepy/php:8.2-apache
         - path: php/8.2/buster/fpm
           tags:
             - riptidepy/php:8.2-fpm
         - path: php/8.1/buster/cli-composer
           tags:
             - riptidepy/php:8.1-cli
             - riptidepy/php:8.1
         - path: php/8.1/buster/cli-composer2
           tags:
             - riptidepy/php:8.1-cli-composer2
         - path: php/8.1/buster/apache
           tags:
             - riptidepy/php:8.1-apache
         - path: php/8.1/buster/fpm
           tags:
             - riptidepy/php:8.1-fpm
         - path: php/8.0/buster/cli-composer
           tags:
             - riptidepy/php:8.0-cli
             - riptidepy/php:8.0
         - path: php/8.0/buster/cli-composer2
           tags:
             - riptidepy/php:8.0-cli-composer2
         - path: php/8.0/buster/apache
           tags:
             - riptidepy/php:8.0-apache
         - path: php/8.0/buster/fpm
           tags:
             - riptidepy/php:8.0-fpm
         - path: node-php/8.4/bookworm/cli-composer
           tags:
             - riptidepy/node-php:8.4-cli
             - riptidepy/node-php:8-cli
             - riptidepy/node-php:cli
             - riptidepy/node-php:8.4
             - riptidepy/node-php:8
             - riptidepy/node-php:latest
         - path: node-php/8.4/bookworm/cli-composer2
           tags:
             - riptidepy/node-php:8.4-cli-composer2
             - riptidepy/node-php:8-cli-composer2
             - riptidepy/node-php:cli-composer2
         - path: node-php/8.4/bookworm/apache
           tags:
             - riptidepy/node-php:8.4-apache
             - riptidepy/node-php:8-apache
             - riptidepy/node-php:apache
         - path: node-php/8.4/bookworm/fpm
           tags:
             - riptidepy/node-php:8.4-fpm
             - riptidepy/node-php:8-fpm
             - riptidepy/node-php:fpm
         - path: node-php/8.3/bookworm/cli-composer
           tags:
             - riptidepy/node-php:8.3-cli
             - riptidepy/node-php:8.3
         - path: node-php/8.3/bookworm/cli-composer2
           tags:
             - riptidepy/node-php:8.3-cli-composer2
         - path: node-php/8.3/bookworm/apache
           tags:
             - riptidepy/node-php:8.3-apache
         - path: node-php/8.3/bookworm/fpm
           tags:
             - riptidepy/node-php:8.3-fpm
         - path: node-php/8.2/buster/cli-composer
           tags:
             - riptidepy/node-php:8.2-cli
             - riptidepy/node-php:8.2
         - path: node-php/8.2/buster/cli-composer2
           tags:
             - riptidepy/node-php:8.2-cli-composer2
         - path: node-php/8.2/buster/apache
           tags:
             - riptidepy/node-php:8.2-apache
         - path: node-php/8.2/buster/fpm
           tags:
             - riptidepy/node-php:8.2-fpm
         - path: node-php/8.1/buster/cli-composer
           tags:
             - riptidepy/node-php:8.1-cli
             - riptidepy/node-php:8.1
         - path: node-php/8.1/buster/cli-composer2
           tags:
             - riptidepy/node-php:8.1-cli-composer2
         - path: node-php/8.1/buster/apache
           tags:
             - riptidepy/node-php:8.1-apache
         - path: node-php/8.1/buster/fpm
           tags:
             - riptidepy/node-php:8.1-fpm
         - path: node-php/8.0/buster/cli-composer
           tags:
             - riptidepy/node-php:8.0-cli
             - riptidepy/node-php:8.0
         - path: node-php/8.0/buster/cli-composer2
           tags:
             - riptidepy/node-php:8.0-cli-composer2
         - path: node-php/8.0/buster/apache
           tags:
             - riptidepy/node-php:8.0-apache
         - path: node-php/8.0/buster/fpm
           tags:
             - riptidepy/node-php:8.0-fpm
         - path: node-php/7.4/buster/cli-composer
           tags:
             - riptidepy/node-php:7.4-cli
             - riptidepy/node-php:7.4
         - path: node-php/7.4/buster/cli-composer2
           tags:
             - riptidepy/node-php:7.4-cli-composer2
         - path: node-php/7.4/buster/apache
           tags:
             - riptidepy/node-php:7.4-apache
         - path: node-php/7.4/buster/fpm
           tags:
             - riptidepy/node-php:7.4-fpm
         - path: sphinx
           tags:
             - riptidepy/sphinx:latest
         - path: shopify/n18.19.0/p8.1
           tags:
             - riptidepy/shopify:n18.19_p8.1
         - path: shopify/n18.19.0/p8.2
           tags:
             - riptidepy/shopify:n18.19_p8.2
         - path: shopify/n18.19.0/p8.3
           tags:
             - riptidepy/shopify:n18.19_p8.3
         - path: shopify/n20.11.0/p8.1
           tags:
             - riptidepy/shopify:n20.11_p8.1
         - path: shopify/n20.11.0/p8.2
           tags:
             - riptidepy/shopify:n20.11_p8.2
         - path: shopify/n20.11.0/p8.3
           tags:
             - riptidepy/shopify:n20.11_p8.3
         - path: keycloak/latest
           tags:
             - riptidepy/keycloak:latest
         - path: keycloak/21.0.1
           tags:
             - riptidepy/keycloak:21.0.1
         - path: jupyter
           tags:
             - riptidepy/jupyter:latest
         - path: opensearch/latest
           tags:
             - riptidepy/opensearch:latest
         - path: opensearch/2
           tags:
             - riptidepy/opensearch:2
         - path: opensearch/1
           tags:
             - riptidepy/opensearch:1
         - path: streamlit
           tags:
             - riptidepy/streamlit:latest
         - path: mysql/8.4
           tags:
             - riptidepy/mysql:8.4
    name: Build Image
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          push: "${{ github.ref == 'refs/heads/master' }}"
          context: "${{ matrix.path }}"
          tags: "${{ join(matrix.tags, ',') }}"
  description:
    runs-on: ubuntu-latest
    name: Update description
    strategy:
      matrix:
        include:
         - path: php
           repository: riptidepy/php
         - path: sphinx
           repository: riptidepy/sphinx
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Update description
        uses: peter-evans/dockerhub-description@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          readme-filepath: "${{ matrix.path }}/README.md"
          repository: ${{ matrix.repository }}
