
name: Build

on: [push, pull_request]

# Ensures that only one mirror task will run at a time.
concurrency:
  group: docker-images

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
       include:
         - path: php/8.3/bookworm/cli-composer
           tags:
             - riptidepy/php:8.3-cli
             - riptidepy/php:8-cli
             - riptidepy/php:cli
             - riptidepy/php:8.3
             - riptidepy/php:8
             - riptidepy/php:latest
         - path: php/8.3/bookworm/cli-composer2
           tags:
             - riptidepy/php:8.3-cli-composer2
             - riptidepy/php:8-cli-composer2
             - riptidepy/php:cli-composer2
         - path: php/8.3/bookworm/apache
           tags:
             - riptidepy/php:8.3-apache
             - riptidepy/php:8-apache
             - riptidepy/php:apache
         - path: php/8.3/bookworm/fpm
           tags:
             - riptidepy/php:8.3-fpm
             - riptidepy/php:8-fpm
             - riptidepy/php:fpm
         - path: php/8.2/buster/cli-composer
           tags:
             - riptidepy/php:8.2-cli
             - riptidepy/php:8.2
         - path: php/8.2/buster/cli-composer2
           tags:
             - riptidepy/php:8.2-cli-composer2
         - path: php/8.2/buster/apache
           tags:
             - riptidepy/php:8.2-apache
         - path: php/8.2/buster/fpm
           tags:
             - riptidepy/php:8.2-fpm
         - path: php/8.1/buster/cli-composer
           tags:
             - riptidepy/php:8.1-cli
             - riptidepy/php:8.1
         - path: php/8.1/buster/cli-composer2
           tags:
             - riptidepy/php:8.1-cli-composer2
         - path: php/8.1/buster/apache
           tags:
             - riptidepy/php:8.1-apache
         - path: php/8.1/buster/fpm
           tags:
             - riptidepy/php:8.1-fpm
         - path: php/8.0/buster/cli-composer
           tags:
             - riptidepy/php:8.0-cli
             - riptidepy/php:8.0
         - path: php/8.0/buster/cli-composer2
           tags:
             - riptidepy/php:8.0-cli-composer2
         - path: php/8.0/buster/apache
           tags:
             - riptidepy/php:8.0-apache
         - path: php/8.0/buster/fpm
           tags:
             - riptidepy/php:8.0-fpm
         - path: node-php/8.3/bookworm/cli-composer
           tags:
             - riptidepy/node-php:8.3-cli
             - riptidepy/node-php:8-cli
             - riptidepy/node-php:cli
             - riptidepy/node-php:8.3
             - riptidepy/node-php:8
             - riptidepy/node-php:latest
         - path: node-php/8.3/bookworm/cli-composer2
           tags:
             - riptidepy/node-php:8.3-cli-composer2
             - riptidepy/node-php:8-cli-composer2
             - riptidepy/node-php:cli-composer2
         - path: node-php/8.3/bookworm/apache
           tags:
             - riptidepy/node-php:8.3-apache
             - riptidepy/node-php:8-apache
             - riptidepy/node-php:apache
         - path: node-php/8.3/bookworm/fpm
           tags:
             - riptidepy/node-php:8.3-fpm
             - riptidepy/node-php:8-fpm
             - riptidepy/node-php:fpm
         - path: node-php/8.2/buster/cli-composer
           tags:
             - riptidepy/node-php:8.2-cli
             - riptidepy/node-php:8.2
         - path: node-php/8.2/buster/cli-composer2
           tags:
             - riptidepy/node-php:8.2-cli-composer2
         - path: node-php/8.2/buster/apache
           tags:
             - riptidepy/node-php:8.2-apache
         - path: node-php/8.2/buster/fpm
           tags:
             - riptidepy/node-php:8.2-fpm
         - path: node-php/8.1/buster/cli-composer
           tags:
             - riptidepy/node-php:8.1-cli
             - riptidepy/node-php:8.1
         - path: node-php/8.1/buster/cli-composer2
           tags:
             - riptidepy/node-php:8.1-cli-composer2
         - path: node-php/8.1/buster/apache
           tags:
             - riptidepy/node-php:8.1-apache
         - path: node-php/8.1/buster/fpm
           tags:
             - riptidepy/node-php:8.1-fpm
         - path: node-php/8.0/buster/cli-composer
           tags:
             - riptidepy/node-php:8.0-cli
             - riptidepy/node-php:8.0
         - path: node-php/8.0/buster/cli-composer2
           tags:
             - riptidepy/node-php:8.0-cli-composer2
         - path: node-php/8.0/buster/apache
           tags:
             - riptidepy/node-php:8.0-apache
         - path: node-php/8.0/buster/fpm
           tags:
             - riptidepy/node-php:8.0-fpm
         - path: sphinx
           tags:
             - riptidepy/sphinx:latest
         - path: shopify
           tags:
             - riptidepy/shopify:n18.19_p8.1
         - path: keycloak/latest
           tags:
             - riptidepy/keycloak:latest
         - path: keycloak/21.0.1
           tags:
             - riptidepy/keycloak:21.0.1
         - path: jupyter
           tags:
             - riptidepy/jupyter:latest
    name: Build Image
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: "${{ github.ref == 'refs/heads/master' }}"
          context: "${{ matrix.path }}"
          tags: "${{ join(matrix.tags, ',') }}"
  description:
    runs-on: ubuntu-latest
    name: Update description
    strategy:
      matrix:
        include:
         - path: php
           repository: riptidepy/php
         - path: sphinx
           repository: riptidepy/sphinx
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Update description
        uses: peter-evans/dockerhub-description@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          readme-filepath: "${{ matrix.path }}/README.md"
          repository: ${{ matrix.repository }}
